p {
 font family: courier; color: gold;
}
h1 { font-family:palatino, serif; color: Yellow; font-size: 52px;
}
h2 { font-family:palatino, serif; color: gold;
}
body { color: gold;
}
.work { font-size:25px;
}
.info { font-size: 15px;
}
.info { border-top: 2px solid slategray;
}
.job1 { border-top: 2px solid slategray;
}
.job2 { border-top: 2px solid slategray;
}
.job3 { border-top: 2px solid slategray;
}
.job4 { border-top: 2px solid slategray;
}
html { background-color: gray; background-size:cover;
}
 
 
